# Pandas Tutorial
#### In this quick workshop I will teach you the basic functions of pandas in order to be able to better manipulate your data

## Importing pandas
- Whenever we want to import pandas we usually write it at the top of our code as seen below
- we give it the alias pd for convention and anytime we wish to call it we refer to it as pd

In [ ]:
import pandas as pd

## Reading Files
- pandas read a plethora of files but for our purposes we will be reading a csv file
- by convention we like to store the file in a variable called df
- df stands for dataframe

we will be using the same csv(comma seperated values) file as in the next part of the workshop

In [2]:
df = pd.read_csv('data-collection/glassdoor_job.csv')

In [8]:
df #Simply just prints the dataframe

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Software Engineer,$107K-$157K (Glassdoor est.),MedBill is looking for a Software Engineer to ...,4.4,MedBill\n4.4,"Boone, NC","Pittsburgh, PA",51 to 200 employees,2005,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
1,Software Engineer,$107K-$157K (Glassdoor est.),Job Description:\nInfogroup is looking for top...,3.6,Yes Marketing\n3.6,"Marshfield, WI","Chicago, IL",201 to 500 employees,2000,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
2,Full Stack Software Engineer,$107K-$157K (Glassdoor est.),Why OJO?\nWe’re on a mission to empower people...,4.7,OJO Labs\n4.7,"Austin, TX","Austin, TX",201 to 500 employees,2015,Company - Private,Internet,Information Technology,$10 to $25 million (USD),-1
3,Full Stack Software Engineer,$107K-$157K (Glassdoor est.),Corporate Traffic Logistics is a 28-year-old a...,4.2,Corporate Traffic Logistics\n4.2,"Jacksonville, FL","Jacksonville, FL",51 to 200 employees,1992,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1
4,Software Engineer,$107K-$157K (Glassdoor est.),Ungerboeck Software is looking to hire the bes...,4.0,Ungerboeck Software International\n4.0,"O'Fallon, MO","O'Fallon, MO",201 to 500 employees,1985,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Engineer - Software (Mid-Senior) - Job ID,$67K-$92K (Glassdoor est.),Is it time for a new opportunity? Want to work...,4.6,Space Dynamics Laboratory\n4.6,"Albuquerque, NM","Logan, UT",501 to 1000 employees,1959,Nonprofit Organization,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
996,"Mechanical Systems Engineer, OCONUS, Afghanistan",$67K-$92K (Glassdoor est.),"Mechanical Systems Engineer, OCONUS, Afghanist...",2.3,MD Helicopters\n2.3,"Mesa, AZ","Mesa, AZ",501 to 1000 employees,2006,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
997,Senior Software Engineer,$67K-$92K (Glassdoor est.),Introduction\n\n\nASML is one of the world’s l...,3.6,ASML\n3.6,"San Diego, CA","Veldhoven, Netherlands",10000+ employees,1984,Company - Public,Computer Hardware & Software,Information Technology,$5 to $10 billion (USD),"Applied Materials, KLA, Lam Research"
998,Senior Software Engineer,$67K-$92K (Glassdoor est.),Introduction\n\n\nASML is one of the world’s l...,3.6,ASML\n3.6,"San Diego, CA",-1,-1,-1,-1,-1,-1,-1,-1
999,"Sr. Systems Engineer, Quality Systems",$67K-$92K (Glassdoor est.),"The Role:\n\nReporting to the Senior Manager, ...",3.6,Moderna Therapeutics\n3.6,"Norwood, MA","Cambridge, MA",501 to 1000 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),-1

## Understanding the data
- There are a couple ways we can look at the data in the dataframe to get more info

Below I will explain the different functions

In [5]:
df.info() #get info on the type of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1000 non-null   object
 1   Salary Estimate    1000 non-null   object
 2   Job Description    1000 non-null   object
 3   Rating             1000 non-null   float64
 4   Company Name       1000 non-null   object
 5   Location           1000 non-null   object
 6   Headquarters       1000 non-null   object
 7   Size               1000 non-null   object
 8   Founded            1000 non-null   int64
 9   Type of ownership  1000 non-null   object
 10  Industry           1000 non-null   object
 11  Sector             1000 non-null   object
 12  Revenue            1000 non-null   object
 13  Competitors        1000 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 109.5+ KB

In [7]:
df.columns #shows all columns in the dataframe

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [9]:
df.head() #shows first 5 rows

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Software Engineer,$107K-$157K (Glassdoor est.),MedBill is looking for a Software Engineer to ...,4.4,MedBill\n4.4,"Boone, NC","Pittsburgh, PA",51 to 200 employees,2005,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
1,Software Engineer,$107K-$157K (Glassdoor est.),Job Description:\nInfogroup is looking for top...,3.6,Yes Marketing\n3.6,"Marshfield, WI","Chicago, IL",201 to 500 employees,2000,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
2,Full Stack Software Engineer,$107K-$157K (Glassdoor est.),Why OJO?\nWe’re on a mission to empower people...,4.7,OJO Labs\n4.7,"Austin, TX","Austin, TX",201 to 500 employees,2015,Company - Private,Internet,Information Technology,$10 to $25 million (USD),-1
3,Full Stack Software Engineer,$107K-$157K (Glassdoor est.),Corporate Traffic Logistics is a 28-year-old a...,4.2,Corporate Traffic Logistics\n4.2,"Jacksonville, FL","Jacksonville, FL",51 to 200 employees,1992,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1
4,Software Engineer,$107K-$157K (Glassdoor est.),Ungerboeck Software is looking to hire the bes...,4.0,Ungerboeck Software International\n4.0,"O'Fallon, MO","O'Fallon, MO",201 to 500 employees,1985,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1

In [10]:
df.tail() #shows last 5 rows

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
995,Engineer - Software (Mid-Senior) - Job ID,$67K-$92K (Glassdoor est.),Is it time for a new opportunity? Want to work...,4.6,Space Dynamics Laboratory\n4.6,"Albuquerque, NM","Logan, UT",501 to 1000 employees,1959,Nonprofit Organization,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
996,"Mechanical Systems Engineer, OCONUS, Afghanistan",$67K-$92K (Glassdoor est.),"Mechanical Systems Engineer, OCONUS, Afghanist...",2.3,MD Helicopters\n2.3,"Mesa, AZ","Mesa, AZ",501 to 1000 employees,2006,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
997,Senior Software Engineer,$67K-$92K (Glassdoor est.),Introduction\n\n\nASML is one of the world’s l...,3.6,ASML\n3.6,"San Diego, CA","Veldhoven, Netherlands",10000+ employees,1984,Company - Public,Computer Hardware & Software,Information Technology,$5 to $10 billion (USD),"Applied Materials, KLA, Lam Research"
998,Senior Software Engineer,$67K-$92K (Glassdoor est.),Introduction\n\n\nASML is one of the world’s l...,3.6,ASML\n3.6,"San Diego, CA",-1,-1,-1,-1,-1,-1,-1,-1
999,"Sr. Systems Engineer, Quality Systems",$67K-$92K (Glassdoor est.),"The Role:\n\nReporting to the Senior Manager, ...",3.6,Moderna Therapeutics\n3.6,"Norwood, MA","Cambridge, MA",501 to 1000 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),-1

## Column Manipulation
- There are different ways to access and modify different columns
- Pandas offers a myriad of ways to manipulate its data but I will show you the most common

### Let's start off by accessing a single column

In [11]:
df['Headquarters'] #Here we supply dataframe with the name of the column to access that single column

0              Pittsburgh, PA
1                 Chicago, IL
2                  Austin, TX
3            Jacksonville, FL
4                O'Fallon, MO
                ...
995                 Logan, UT
996                  Mesa, AZ
997    Veldhoven, Netherlands
998                        -1
999             Cambridge, MA
Name: Headquarters, Length: 1000, dtype: object

### Above we used bracket notation
- Bracket notation is typically used if your column name has no Spaces or funky characters like periods
- Below we use dot notation wihich performs the same task but instead we use a dot

In [13]:
df.Headquarters

0              Pittsburgh, PA
1                 Chicago, IL
2                  Austin, TX
3            Jacksonville, FL
4                O'Fallon, MO
                ...
995                 Logan, UT
996                  Mesa, AZ
997    Veldhoven, Netherlands
998                        -1
999             Cambridge, MA
Name: Headquarters, Length: 1000, dtype: object

### Now lets manipulate rows
- in pandas we can use loc functions in order to specify a single rows , a type of row, or all rows
- This concept is usually a little tough to wrap your head around but with practice it becomes much easier

If we wanted to grab the first 5 rows from the headquarters data how would we do that?

In [16]:
df.loc[0:4 , 'Headquarters'] #[Specify rows , Specify Columns]

0      Pittsburgh, PA
1         Chicago, IL
2          Austin, TX
3    Jacksonville, FL
4        O'Fallon, MO
Name: Headquarters, dtype: object

In [20]:
### Pandas is super easy to lea

KeyError: "None of [Index(['Logan, UT'], dtype='object')] are in the [index]"